{% extends 'base.html' %}
{% block title%}林 about{% endblock %}

{% block content %} 
      <div class="container">
          <h1>About Noah</h1>
          <p>
              A small indie artist focusing on expressing the beauty in the world around us. Noah works in both digital and physical mediums, preffering to work loosely in bold shape and styles, achieving a highly stylised look to most of his pieces.
          </p>
          
          <br/>  
          <h2> People of Importance + Muses </h2>     
          <p>
            <ul>
                {% for name in names %} 
                    {% if name == 'Charles' %}
                        <li>Charles :D</li>
                    {% else %}
                        <li> {{ name }} </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </p>
      </div>
{% endblock %}